<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>

<body>

    <section class="container">

        <h1>
            <% if(typeof title !== 'undefined') { %>
                <%= title %>
            <% }else {%>
                Não existe título
            <% }%>
        </h1>

        <h1>Título do Execício</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident amet quasi voluptas esse officiis magnam
            recusandae molestias ad ipsa, voluptatibus vel quod dolore consectetur voluptatum? Saepe eius
            assumenda repellat dolorem?
        </p>

        <form action="/" method="post">
            <label>Cliente</label>
            <input type="text" name="name" id="">
            <button type="submit">Enviar</button>
        </form>

    </section>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>